body,
html {
  background: #f5f5f5;
  color: #3b3b3b;
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-size: 13px;
  overflow-x: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


h4 {
  margin: 0;
}

.title textarea {
  font-size: 16px;
  font-weight: 600;

}

p,
textarea {
  font-size: 13px;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

textarea {
  border: none;
  appearance: none;
  resize: none;
  outline: none;
}

a {
  color: #e5aa14;
}

textarea::selection {
  background-color: #e8c26140;
  color: #e5aa14;
}

.note {
  overflow: hidden;
}
.note-header {
  height: 8px;
  display: inline-flex;
  gap: 8px;
  padding: 8px;
  width: 100%;    
  align-items: center;
  font-weight: 600;
}
.red, .yellow, .green {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 4px;
}
.red {
  background-color: #e55252;
}

.yellow {
  background-color: #ffc434;
}

.green {
  background-color: #3dcd3d;
}
.note-content {
  padding: 8px;
}
.resizable {
  width: 240px;
  height: 100px;
  position: absolute;
  top: 120px;
  left: 100px;
}

.resizable .resizers {
  width: 100%;
  height: 100%;
  border: 1px solid #e8c261;
  box-sizing: border-box;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 1px 8px #7b7b7b;
  background-color: white;
}

.resizable .resizers .resizer {
  border-radius: 9px;
  /*magic to turn square into circle*/
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #e8c261;
  position: absolute;
}

.resizer.top {
  left: 50%;
  top: -5px;
  width: 36px;
  height: 9px;
  cursor: ns-resize;
  transform: translate(-18px, 0px);
}

.resizer.right {
  right: -5px;
  bottom: 50%;
  width: 9px;
  height: 36px;
  cursor: ew-resize;
  transform: translate(0px, 18px);
}

.resizer.bottom {
  left: 50%;
  bottom: -5px;
  width: 36px;
  height: 9px;
  cursor: ns-resize;
  transform: translate(-18px, 0px);
}

.resizer.left {
  left: -5px;
  bottom: 50%;
  width: 9px;
  height: 36px;
  cursor: ew-resize;
  transform: translate(0px, 18px);
}

.resizer.top-right {
  right: -5px;
  top: -5px;
  width: 9px;
  height: 9px;
  cursor: nesw-resize;
  transform: translate(-3px, 3px);
}

.resizer.top-left {
  left: -5px;
  top: -5px;
  width: 9px;
  height: 9px;
  cursor: nwse-resize;
  transform: translate(3px, 3px);
}

.resizer.bottom-right {
  right: -5px;
  bottom: -5px;
  width: 9px;
  height: 9px;
  cursor: nwse-resize;
  transform: translate(-3px, -3px);
}

.resizer.bottom-left {
  left: -5px;
  bottom: -5px;
  width: 9px;
  height: 9px;
  cursor: nesw-resize;
  transform: translate(3px, -3px);
}

.moving-left {
  cursor: e-resize !important
}

.moving-right {
  cursor: w-resize !important
}

.moving-top {
  cursor: s-resize !important
}

.moving-bottom {
  cursor: n-resize !important
}

.moving-top-left {
  cursor: se-resize !important
}

.moving-top-right {
  cursor: sw-resize !important
}

.moving-bottom-left {
  cursor: ne-resize !important
}

.moving-bottom-right {
  cursor: nw-resize !important
}

.two-columns {
  display: flex;
  flex-direction: row;
  max-width: 960px;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  overflow-x: hidden;
}

.column {
  display: flex;
  flex-direction: column;
  min-width: 480px;
  width: 50%;
  overflow-x: hidden;
}

.demo {
  height: 500px;
  background-image: url(./images/mbp-screen.png);
  background-repeat: no-repeat;
  background-size: 240%;
  background-position-x: 26%;
  border-bottom-left-radius: 16px;    
  box-shadow: 0 -2px 8px #dcdcdc;
  margin-left: 8px;
}

.screen {
  display: block;
  position: relative;
  width: 395px;
  height: 395px;
  top: 44px;
  left: 78px;
  overflow: hidden;
}
.card-skeleton {
  max-width: 342px;
  margin: auto;
}
.card {
  background-color: white;
  box-shadow: 0 1px 8px #cecece;
  padding: 12px;
  border-radius: 12px;
  max-width: 320px;
  width: 320px;
  margin: 0 auto;
}

.card.dark {
  background: #3b3b3b;
}

.card.dark {
  color: rgb(201, 201, 201);
}

.card p, .card-lg p {
  margin-bottom: 8px;
  color: rgb(141, 141, 141);
}

.card-title {
  font-size: 18px;
  margin-bottom: 12px;
  font-weight: 600;
}

.empty-space-sm {
  display: block;
  height: 30px;
}

.empty-space {
  display: block;
  height: 160px;
}

#light-icons,
#dark-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 11px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mouse-icon {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.one-column {
  width: 960px;
  margin: auto;
}

.row {
  display: inline-flex;
  margin: auto;
  width: 100%;
  justify-content: center;
  gap: 60px;
}
.card-lg {
  background-color: white;
  border-radius: 24px;
  max-width: 960px;
  margin: 0 auto;
  padding: 22px;
  border: 2px dashed #ececec;
}
.card-lg .card-header {
  width: calc(100% - 136px);
  margin: auto;
}

.guide {
  width: 344px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
}
.guide span {
  font-size: 14px;
}
.guide img{
  border-radius: 12px;
  max-width: 480px;
}

@media screen and (max-width: 600px) {
  .card-lg .card-header {
    width: calc(100%);
    margin: auto;
  }
}
